.header-container {
    color: white;
    background: #218490;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0.3rem;
    box-shadow: 5px 2px 16px 3px rgb(0 0 0 / 12%);
  }
  
  .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search-container > input {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}